{% load static %}


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LCK</title>
    <link rel="stylesheet" href="{% static 'css/lckstyle.css' %}">

</head>
<body>
    
    <nav>
        <h1>League Stats</h1>
        <ul class="navul">
            <li class="navli"><a href="#">Home</a></li>
            <li class="navli"><a href="#">Pesquisar</a></li>
            <li class="navli"><a href="#">Contato</a></li>
        </ul>
    </nav>

     <div class="container">
        <div class="teams">
            <ul class="teamlist">
                 {% for item in listas.Teams.0 %}
                    <li class="team"><img class="team_img" src= "{{item.1 }}" alt="">  {{item.0}}</li>
                {% endfor %}

            </ul>
        </div>

        <div class="schedule">
            <div class="bracket">
                <div class="round">
                    <div class="match">
                        <div class="competitor">{{listas.Teams.0.3.0}} <div class="score" style="color: #26de81;">3</div></div>
                        <div class="competitor">{{listas.Teams.0.7.0}} <div class="score" style="color: #ff4e50;">1</div></div>
                    </div>
                    <div class="match">
                        <div class="competitor">{{listas.Teams.0.5.0}} <div class="score" style="color: #26de81;">3</div></div>
                        <div class="competitor">{{listas.Teams.0.4.0}} <div class="score" style="color: #ff4e50;">2</div></div>
                    </div>
                </div>
                <div class="round t6">
                    <div class="match">
                        <div class="competitor">{{listas.Teams.0.5.0}} <div class="score" style="color: #26de81;">3</div></div>
                        <div class="competitor">{{listas.Teams.0.3.0}} <div class="score" style="color: #ff4e50;">2</div></div>
                    </div>
                </div>
    
                <div class="round">
                    <div class="match winner">
                        <div class="competitor">{{listas.Teams.0.5.0}} <div class="score" style="color: #26de81;">3</div></div>
                        <div class="competitor">{{listas.Teams.0.4.0}} <div class="score" style="color: #ff4e50;">2</div></div>
                    </div>
                </div>
            </div>
            <div class="lowerbracket">
                <div class="round">
                    <div class="match">
                        <div class="competitor">{{listas.Teams.0.7.0}}<div class="score" style="color: #ff4e50;">2</div></div>
                        <div class="competitor">{{listas.Teams.0.4.0}}<div class="score" style="color: #26de81;">3</div></div>
                    </div>
                </div>
                <div class="round">
                    <div class="match">
                        <div class="competitor">{{listas.Teams.0.4.0}}<div class="score" style="color: #26de81;">3</div></div>
                        <div class="competitor">{{listas.Teams.0.3.0}}<div class="score" style="color: #ff4e50;">0</div></div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</body>
</html>
